/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require foundation.min.css
 *= require_tree .
 *= require_self
 */

 @import 'foundation-icons';

body {
	background: linear-gradient(to right, #004379, #00D3E9 , #004379);
}

.top-bar {
	background-color: #0707A0 !important; 
}

.bpm-header {
	text-align: center;
}
 .bpm-logo {
 	text-align: center;
 	margin-top: 3%;
 }

 .title-heading {
 	margin-top: 2%;
 	font-family: 'Fredoka One', cursive;
 	color: rgb(105, 230, 80);
 	 -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #0707A0;
 }

.neon-border {
	border: 0;
	height: 0;
	box-shadow: 0 0 8px 5px rgb(215, 28, 240);
	margin-bottom: 3%;

}

.neon-border:after {
	content: "\00a0";
}

.wide-row {
	max-width: 100%;
	line-height: normal;
}

.wide-columns {
	padding-left: 0px;
	padding-right: 0px;
}

.spotify-icon {
	width: 25px;
}

.spotify-login-link {
	background-color: #0707A0 !important;
}

.spotify-login-link:hover {
	background-color: purple !important;
}

.artist {
	color: rgb(215, 28, 240);
}

.title {
	color: white;
	text-decoration: underline;
}

.accordion-navigation a {
	background-color: #004379 !important;
	/*border-right: solid black 2px;
	border-left: solid black 2px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;*/
	margin-bottom: 1%;
	/*box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.75);*/
	box-shadow: 0 0 15px #00AFFF;
}

.accordion-navigation a:hover {
	background-color: #0078a0 !important;
}

.footer-neon-border {
	border: 0;
	height: 0;
	box-shadow: 0 0 1px 1px #0707A0;
}

.footer-neon-border:after {
	content: "\00a0";
}

.footer-text {
	float: right;
	color: #0707A0;
	font-size: .7em;
}